; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Mon 16 Apr 08:29:18 2012 CEST

[buildout]
parts = external python
develop = .
find-links = http://www.idiap.ch/software/bob/packages/xbob/nightlies/last/
eggs = bob
       antispoofing.lbp
       antispoofing.utils

[external]
recipe = xbob.buildout:external
;egg-directories = /idiap/group/torch5spro/releases/bob-1.0.6/install/linux-x86_64-release/lib
egg-directories = /idiap/group/torch5spro/nightlies/last/install/linux-x86_64-release

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
